#loading {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(204, 204, 204, 0.58);
    opacity: 0.7;
}